
%div{:class => "r28file", :id => "r28file_#{c}", "data-id" => "#{f.id}"}
  .type
    = f.file_ext
  .name
    %div
      = f.file_data
      -#= f.file_name_ex
    -#%div
    -#  %span
    -#    = "#{f.files_count_in} файлов"
    -#  %span
    -#    = f.file_size
  .data
    = link_to "Платежи", plategi_path
  .flex
  .download
    = link

