
%div{:class => "r28file", :id => "r28file_#{c}", "data-id" => "#{f.id}"}
  .type
    = f.file_ext
  .name
    %div
      = f.file_data
  .data
    = link_to "Аренда", "plategi/#{f.id}?code=1"
    = link_to "Налог", "plategi/#{f.id}?code=2"
  .flex
  .download
    = link

