<% m = 'arendators' %>
<%= render :partial => "layouts/header", :locals => {:m => m} %>

<div class="arendators_layout">

<div class="arendators_header box">

    <div class="header_caption item">
      <h3>Арендаторы</h3>
      <section style="position: relative; top: -8px;">
        <a href="#"><span style="font-size: 0.9em;">арендаторы.xls</span></a>
      </section>
    </div>

    <div class="header_search item_flex" style="margin-top: 5px;">
        <input id="search" placeholder="Поиск арендаторов">
        <div style="padding-top: 4px; display: -webkit-box;">
            <div style="margin-right: 32px;">
              <span class="label_grey">Например:&nbsp;</span><a href="#"><span class="psevdo_link_grey" style="font-size:0.7em;">Автосервис</span></a>
            </div>
            <div>
              <a href="#"><span class="psevdo_link">история поиска</span></a>
            </div>
        </div>
    </div>

    <div class="header_newarendator item_1 box_1" style="margin-top: 20px;">
      <div>
        <label>Добавить:</label>
      </div>
      <div class="box_v">
        <div>
          <button>арендатора</button>
        </div>
      </div>
    </div>

    <div class="header_history item_1" style="margin-top: 17px;">
      <div style="">
          <span style="margin-right: 4px; font-size:0.7em; color:rgba(105, 105, 105, 0.65);">23.10.10</span>
          <a href="#">
            <span class="psevdo_link_grey" style="font-size:11px;">Автосервис</span>
          </a>
      </div>
      <a href="#">
        <span class="psevdo_link">история добавлений</span>
      </a>
    </div>

</div>

<div class="arendators_content">

<div class="content_filter">

  <div style="margin-right: 16px;">
    <span style="color: grey;">Отобразить</span>
  </div>

  <div class="btn-group" data-toggle="buttons-radio"  style="-webkit-box-flex: 1;">
    <button type="button" class="btn_filter btn">должников <span style="color: #d4d4d4">4</span></button>
    <button type="button" class="btn_filter btn">переплативших <span style="color: #d4d4d4">2</span></button>
  </div>

  <div class="btn-group" data-toggle="buttons-radio" style="margin-right:32px;">
    <button type="button" class="btn_filter btn">физлицо</button>
    <button type="button" class="btn_filter btn">юрлицо</button>
  </div>

    <div>
      <div class="btn-group" data-toggle="buttons-checkbox" style="margin-right:32px;">
        <button type="button" class="btn_filter btn">договор аренды</button>
      </div>
    </div>

    <div style="-webkit-box-flex: 1;"></div>

  <div class="btn-group" data-toggle="buttons-radio" style="-webkit-box-flex: 1;">
    <button type="button" class="btn_filter btn">на карте</button>
    <!--button id="btn_spysok" type="button" class="btn_filter btn">списком</button-->
    <!--button type="button" class="btn_filter btn">плиткой</button-->
    <!--%= link_to "списком", finansist_arendators_path, :vid => "table" %-->
    <a href="/arendators?vid=table" style="padding: 8px 8px; font-size: 14px;">списком</a>
    <a href="/arendators?vid=list" style="padding: 8px 8px; font-size: 14px;">плиткой</a>
  </div>

    <div style="-webkit-box-flex: 0.5;"><a href="#">Архив</a></div>

</div><!-- content_filter -->
<div class="decor"></div>

</div><!-- arendators_content -->

<div class="arendators_footer">
</div>

</div><!-- arendators_layout -->


<div class="letters_box">

  <div class="letters">
    <span class="letter">А</span>
    <span class="letter hovered">Б</span>
    <span class="letter selected">В</span>
    <span class="letter disabled">Г</span>
    <span class="letter">Д</span>
    <span class="letter">Е</span>
      <span class="letter">Ё</span>
      <span class="letter">Ж</span>
      <span class="letter">З</span>
      <span class="letter">И</span>
      <span class="letter">К</span>
      <span class="letter">Л</span>
      <span class="letter">М</span>
      <span class="letter">Н</span>
      <span class="letter">О</span>
      <span class="letter">П</span>
      <span class="letter">Р</span>
      <span class="letter">С</span>
      <span class="letter">Т</span>
      <span class="letter">У</span>
      <span class="letter">Ф</span>
      <span class="letter">Х</span>
      <span class="letter">Ч</span>
      <span class="letter">Щ</span>
      <span class="letter">Э</span>
      <span class="letter">Ю</span>
      <span class="letter">Я</span>

  </div>

</div><!-- алфавит -->


<section>

  <ul style="margin-left: 32px; ">

    <% i = 0 %>
    <% @arendators.each do |arendator| %>
    <% if !(@sum_all[i] == 0.0) %>
            <li class="arendator">

                    <div class="dolg no">
                      <a href="#"><span>должник</span></a>
                    </div>

                    <div class="arendator_info">

                        <div style="display: -webkit-box;">
                            <div class="arendator_name">
                              <%= link_to "<span>#{arendator.name}</span>".html_safe, :controller => 'finansist/arendators', :action => 'show', :id => arendator.id %>
                            </div>
                        </div>

                        <div class="arendator_money">
                            <%= @sum_all[i] %> грн
                        </div>

                        <div class="arendator_plategi">
                          <a href="#"><%= @plateg_count[i] %> платежей</a>
                        </div>

                        <div class="arendator_dogovor">
                          <a href="#">1 договоров аренды</a>
                        </div>

                    </div><!-- arendator -->

                </li>
    <% end %>
    <% i +=1 %>
    <% end %>

  </ul>


</section>



<section>

  <ul style="margin-left: 32px; ">

    <% i = 0 %>
    <% @arendators.each do |arendator| %>
    <% if (@sum_all[i] == 0.0) %>
            <li class="arendator">

                    <div class="dolg no">
                      <a href="#"><span>должник</span></a>
                    </div>

                    <div class="arendator_info">

                        <div style="display: -webkit-box;">
                            <div class="arendator_name">
                              <%= link_to "<span>#{arendator.name}</span>".html_safe, :controller => 'finansist/arendators', :action => 'show', :id => arendator.id %>
                            </div>
                        </div>

                        <div class="arendator_money">
                            <%= @sum_all[i] %> грн
                        </div>

                        <div class="arendator_dogovor">
                          <a href="#">1 договор аренды</a>
                        </div>

                    </div><!-- arendator -->

                </li>
    <% end %>
    <% i +=1 %>
    <% end %>

  </ul>


</section>

