<% m = 'arendators' %>
<%= render :partial => "layouts/header", :locals => {:m => m} %>

<section class="arendator_layout">

    <section class="arendator_header">
        <div style="width: 560px; margin-right: 160px;">
          <h3><span style="color: #bcbcbc;">товариство з обмеженою відповідальністю</span><br><%= @arendator.name %></h3>
        </div>
        <div class="edit">
          <button class="btn">Редактировать</button>
          <div class="edit_history">
              <span><a href="#">История редактирования</a></span>
              <div class="history">12.10 &mdash; изменено название с Блом на Облом</div>
          </div>
        </div>
    </section>

    <section class="arendator_tool">
        <div style="width: 560px; margin-right: 160px;">
          <span class="edrpou"><span style="color: #d4d4d4;">ЕДРПОУ:</span>&nbsp;<%= @arendator.edrpou %></span>
          <div class="link">
            <a href="http://edrpou.ua">проверить у регистратора</a>
          </div>
        </div>
    </section>


    <section class="arendator_content">

        <section class="main">

            <div class="pereplata">
              <span>Сумма выплачена в полном объеме</span>
            </div>

            <div class="oplacheno" style="padding: 32px 32px;">
              <span>Оплачено на 1 октября</span>
              <div style="margin: 8px 0;">
                <span class="summa" style="font-size: 20px; font-weight: bold; padding: 0 0px;"><%= @sum %> грн</span>
              </div>

              <!--div class="detali">
                  <div>
                    <span>12.10.12</span><span>126,56 грн</span>
                  </div>
                  <div>
                    <span>12.09.12</span><span>26,56 грн</span>
                  </div>
                  <div>
                    <span>12.08.12</span><span>56,56 грн</span>
                  </div>
              </div-->

            </div>

            <div class="nachisleno" style="padding: 0px 32px; padding-bottom: 32px;">
              <span>Начислено на 1 октября</span>
              <div style="margin: 8px 0;">
                <span class="summa" style="font-size: 20px">54428.4 грн</span>
              </div>

                <!--div class="detali">
                  <div>
                    <span>1.10.12</span><span>243,56 грн</span>
                  </div>
                  <div>
                    <span>1.09.12</span><span>243,56 грн</span>
                  </div>
                  <div>
                    <span>1.08.12</span><span>243,56 грн</span>
                  </div>
                </div-->
            </div>

            <section class="plategi">

                <h4><%= @plategi.count %> платежа</h4>

                <% @plategi.each do |plateg| %>

                  <div style="padding: 6px 0;">
                    <span style="font-size: 12px;"><%= plateg.rahunok.vipiska_file.file_for_data %> &mdash;</span><span style="margin-left: 8px;"><%= plateg.summa %> грн</span>
                  </div>

                <% end %>

            </section>

            <section class="dogovor_arenda">
              <div>
                <h4>
                  <%= link_to "Договор аренды № 40533700122", :controller => "finansist/dogovora", :action => "show", :id=> 2382 %>
                </h4>
                <div>Месячная арендная плата: 6 047,60 грн</div>
              </div>
            </section>

        </section>

        <section class="info">

          <div class="personal">
            <div>
              <h3>Руководство</h3>
            </div>

            <div class="people">
                <div class="position">генеральный директор</div>
                <div>
                  Герасименко<br>Сергей Михайлович
                </div>
            </div>

            <div class="people">
                <div class="position">бухгалтер</div>
                <div>
                  Ефремова<br>Вера Александровна
                </div>
            </div>
          </div>

            <div class="contact">
              <div>
                <h3>Контактная информация</h3>
              </div>

              <div class="people">
                  <div class="position">телефон</div>
                  <div>
                    <tel>(093) 856-96-11</tel>
                  </div>
              </div>

              <div class="people">
                  <div class="position">цифропочта</div>
                  <div>
                      <a href="mailto:info@fox-travel.ru">info@fox-travel.ru</a>
                  </div>
              </div>
            </div>

            <div class="address">
              <div style="width: 240px;">
                  08300, м.Бориспіль, вулиця Київський шлях, будинок 31
              </div>
              <div class="map">
              </div>



              <a href="#">посмотреть на карте</a>
            </div>

            <div class="meta_info">
              Арендатор добавлен Андреем Селезневым 22 декабря 2012
            </div>


        </section>

    </section>

</section>
