<!-- Верхняя шапка -->

<section class="ofu-manager">
    <header>
      <img src="assets/r28.png">
      <h1>Файлы выписок&nbsp;&nbsp;<%= today_count(@vpfile_count).html_safe %></h1>
      <div class="pusto1"></div>
      <div><a class="btn" data-toggle="modal"  href="#myModal"><i class="icon-plus-sign"> </i><span id="add">Добавить</span></a></div>
    </header>
</section>

<!-- Тело -->

<section id="content">
   <article id="a_left" class="b_vbox">

     <section class="b_info">
       <header>Сегодня&nbsp;&nbsp;<%= today_count(@vpfile_today_count).html_safe %></header>
         <%= r28file_add_today(@vpfile_today).html_safe %>
       <p></p>
     </section>


    <div id="b_history">

         <div class="b_hbox">
           <h4>История добавлений&nbsp;&nbsp;<%= today_count(@vpfile_last_count).html_safe %></h4>
           <div class="flex"></div>
           <!--<div>Last &darr;</div>-->
         </div>

          <!--nav style="padding: 5px; margin-top: 5px;">
            <ul>
              <li><span style="color: #333333; background-color: #eeeeee; padding: 4px;" >2012</span>&nbsp;<span style="color:#666666">3</span></li>
              <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">2011</a>&nbsp;<span style="color:#666666">5</span></li>
            </ul>
          </nav>


         <nav style="padding: 5px; margin-top: 5px;">
           <ul>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Август</a>&nbsp;<span style="color:#666666">5</span></li>
             <li style="color: #aaaaaa;">Июль</li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Июнь</a>&nbsp;<span style="color:#666666">14</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
             <li><a style="color: #5f9ea0; border-bottom: 1px solid; #5f9ea0" href="#">Сентябрь</a>&nbsp;<span style="color:#666666">3</span></li>
           </ul>
         </nav-->


         <table class="table">
           <thead>
               <tr>
                 <th scope="col">Дата&nbsp;</th>
                 <th scope="col">Файл&nbsp;</th>
                 <th scope="col">Кто добавил&nbsp;</th>
                 <th scope="col">&nbsp;</th>
               </tr>
           </thead>
          <tbody>
              <% @vpfile_last.each do |f| %>
                  <tr>
                     <td class="td_data"><%= f.file_upload_data_small %></td>
                     <td>
                       <div><%= f.file_name_ex %></div>
                       <div class="td_file_prop"><%= f.files_count_in %> файлов  <%= f.file_size %>  <%= f.file_data.html_safe %></div>
                     </td>
                     <td class="td_user"><a href="#">Андрей Селезнев</a></td>
                     <td class="td_download"><%= link_to "Загрузить", :controller => 'secretar/vpfiles', :action => 'file', :id => f.id %></td>
                   </tr>
              <% end %>
          </tbody>
         </table>

    </div>

  </article>

<!-- Правая колонка с моими файлами -->

  <aside id="a_right">


    <div id="b_myfiles">

         <div>
           <!--h5>Добавленные файлы</h5-->
           <div style="display: -webkit-box; -webkit-box-orient:horizontal;margin-top: 16px;">
             <h4 style="font-size: 1.3em;">&larr; Сентябрь</h4>
             <!--div style="margin-left: 16px;">2012</div-->
           </div>
         </div>

         <section class="b_hbox" style="padding: 5px; margin-top: 15px;">

           <div style="margin-right: 32px;">
             <div style="font-size: 0.9; color: #dddddd">Пропущено</div>
             <div style="font-size: 1.2em;">2 дня</div>
           </div>

           <div style="margin-right: 32px;">
             <div style="font-size: 0.9; color: #dddddd">Добавлено</div>
             <div style="font-size: 1.2em;">
               3 файла
             </div>
           </div>

           <div style="margin-right: 32px;">
             <div style="font-size: 0.9; color: #dddddd">Осталось</div>
             <div style="font-size: 1.2em;">10 дней</div>
           </div>



         </section>


         <div class="b_hbox" style="padding: 5px; margin-top: 14px;">
           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox pusto"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>

           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox pusto"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>

           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox pusto"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>

           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox pusto"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>
           <div class="bbox"></div>

         </div>

         <table class="table">

          <tbody>
           <tr>
             <td class="td_data">30</td>
             <td>
               <div>OFU-3009</div>
             </td>
             <td class="td_user"></td>
             <td class="td_download"><a href="#"></a></td>
           </tr>
           <tr>
             <td class="td_data">29</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Add</a></td>
           </tr>
           <tr>
             <td class="td_data">28</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">27</td>
             <td>
             </td>
             <td class="td_user"><a href="#">Weekend</a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">26</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">25</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">24</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">23</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">22</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">21</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">20</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">19</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">18</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">17</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">16</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">15</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">14</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">13</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">12</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">11</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">10</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">9</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">8</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">7</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">6</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">5</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">4</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">3</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">2</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>
           <tr>
             <td class="td_data">1</td>
             <td>
             </td>
             <td class="td_user"><a href="#"></a></td>
             <td class="td_download"><a href="#">Загрузить</a></td>
           </tr>

          </tbody>

         </table>

    </div>


  </aside>

</section>


<!-- Верхняя навигация -->

<section class="modal hide upload_modal" id="myModal">

  <div class="modal-header">
    <h4>Новый файл выписок</h4>
  </div>

  <%= form_tag 'secretar/vpfiles/upload', :multipart => true do %>

  <div class="modal-body">
    <p>Вы можете добавить файл в формате R28 (архив)</p>

        <span id="fic"  class="file_input_cont">
          <%= file_field_tag :file, :id => 'file_input_id', :class => 'file_input', :tabindex => "-1" %>
          <a id="upload_file_link" class="b_link">Выберите файл с компьютера...</a>
        </span>

        <section id="fic_true">
          <div id="fileR28">
            <div id="fileR28Name">OFU-3012.R28</div>
            <div id="fileR28Data" style="font-size: 0.85em;"><span id="fday">30</span>&nbsp;<span id="fmonth">декабря</span>&nbsp;<a href="#">2012</a> года</div>
            <%= text_field_tag :file_data, 'test', {:id => 'tft-1'} %>
          </div>
        </section>

  </div>

  <div class="modal-footer" style="display: -webkit-box; -webkit-box-align: center;">
    <div class="flex"></div>
    <div id="b_gotovo" style="display: none;">
      <%= submit_tag 'Upload', :class => 'btn btn-primary' %>
      <!--div class="btn btn-primary" data-dismiss="modal">Готово</div-->
      <span style="margin: 0px 10px;">или</span>
    </div>
    <a href="#" id="b_cancel_link" class="btnq" data-dismiss="modal"><span class="b_link_border">Отменить</span></a>
  </div>

  <% end %>

</section>